@{
    ViewBag.Title = "Contact info";
}
<h2>@ViewBag.Title</h2>


<address>
    Natallia Stakheika<br />
    .Net developer<br />
    <abbr title="Phone">+375297081099 (viber)</abbr><br/>
    s.natallia (skype)
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:s.natallia@gmail.com">Send you feedback</a><br />
</address>